<!DOCTYPE html>
<html>
<head>
<style>
    .btn {
        background-color: #4CAF50; /* Зелений колір фону */
        border: none;
        color: white; /* Колір тексту */
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
</head>
<body>

<h1 style="text-align: center;">Контакти Template</h1>

<div style="text-align:center">
    <a href="user\"><button class="btn">User</button></a>
    <a href="trade\"><button class="btn">Trade</button></a>
    <a href="index\"><button class="btn">Index</button></a>
    <a href="about\"><button class="btn">About</button></a>
</div>

</body>
</html>
